/* /header style/ */
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#header {
  background-color: rgb(255, 255, 255);
  /* height: 90px; */
  padding-top: 5px;
  text-align: center;
  /* position: fixed; */
  top: 0;
  width: 100%;
  transition: 0.2s;
  z-index: 20;
}

#logoSmall {
  width: 190px;
  float: left;
}

#socialMedia {
  text-align: right;
}

#logofoot {
  width: 150px;

}

.btn:hover {
  background-color: rgb(144, 149, 161);
  color: rgb(236, 59, 59);
}

.btn {
  cursor: pointer;
}

.socialstyle {
  font-size: 24px;
}

/* /style of social buttuons in footer/ */
.socialstyleButtom {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.phonestyle {
  color: rgb(236, 59, 59);
  padding-right: 5px;
  padding-left: 20px;
  margin-top: 3px;
}



.linkcolor {
  color: black;
}

.head-section {
  position: fixed;
  width: 100%;
  z-index: 1000;
}



/* /navbar style/ */
#navi {
  transition: 0.4s;
  padding: 1px;
  z-index: 20;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}



.navbar {
  background-color: rgb(214, 21, 21);
  /* position: sticky;
  position: -webkit-sticky; */
}


.icon {
  display: none;
  color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 5px;
}

#parallax {
  background-image: url('../assets/images/f1.jpg');
  min-height: 530px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  backface-visibility: hidden;
  animation: slideBg 12s linear infinite 0s;
  animation-timing-function: ease-in-out;
}

@keyframes slideBg {
  0% {
    background-image: url('../assets/images/p1.jpg');
  }

  40% {
    background-image: url('../assets/images/p2.jpg');
  }


  80% {
    background-image: url('../assets/images/p4.jpg');
  }

  100% {
    background-image: url('../assets/images/p1.jpg');
  }

}

#firstpage {
  background-color: rgb(53, 52, 53);
}

.urunler {
  background-color: rgb(53, 52, 53);
  padding-top: 70px;
  padding-bottom: 70px;

}

.biten {
  background-color: rgb(53, 52, 53);
  padding-top: 200px;
}

/* background of imag i biten projects */
.bit {
  background-color: rgb(255, 255, 255);


}

/* / positioning everything under the header/ */

.topstyle {
  margin-top: 130px;
}

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 80%;
}

.carousel {
  margin-top: 1rem;
}

.whitefont {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}



hr.color1 {
  border-top: 1px solid rgb(255, 255, 255);
}

hr.color2 {
  border-top: 3px solid rgb(214, 21, 21);
}

#foot {
  bottom: 0;
  background-color: rgb(85, 79, 85);
  height: auto;
  padding-top: 15px;
}




/* scrol up btn */
#upBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(214, 21, 21);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}



#upBtn:hover {
  background-color: rgb(202, 199, 199);
  color: rgb(0, 0, 0);
}

.smallpic {
  width: 100%;
}

.contain {

  position: relative;
  text-align: center;
  color: white;
}




.bg-text {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.85);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 2px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 10px;
  text-align: center;

}

/* biten sayfasi icin */
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}